@model ResultViewModel

@{
    ViewBag.Title = "Результати";
}

@if (Model == null)
{
    <h2>Дані відсутні</h2>
}
else
{
    <div class="tab-nav">
        <ul class="nav nav-tabs">
            @foreach (var tabId in Model.TabIds)
            {
                <li id="nav-item-@tabId" class="nav-item">
                    @Html.ActionLink(
                                  "Дані Id:" + tabId,
                                  "AvailableResults",
                                  new { tabId = tabId },
                                  new { @class = string.Format("tab nav-link {0}", 
                                       Model.CurrentTab == tabId ? "tab-active nav-link-active" : string.Empty) })
                </li>
            }
        </ul>
    </div>

    <div class="plot-grid">
        <div class="chain">
            <table>
                <tr class="schedule-table-header">
                    <td width="100px" height="40px">Робота</td>
                    <td width="100px" height="40px">Тривалість</td>
                </tr>
                @{ int rows = Model.Chain.GetLength(0); }
                @for (int i = 0; i < rows; i++)
                {
                    <tr class="schedule-table-header-row">
                        <td>@Model.Chain[i, 0]</td>
                        <td>@Model.Chain[i, 1]</td>
                    </tr>
                }
            </table>
        </div>
        <div class="algorithm-legend">
            <table>
                <tr class="schedule-table-header">
                    <td width="120px" height="40px">Алгоритм</td>
                    <td width="60px" height="40px">C<sup>*</sup></td>
                    <td width="60px" height="40px">C<sub>max</sub></td>

                    @foreach (var summary in Model.AlgorithSummaries)
                    {
                    <tr class="schedule-table-header-row">
                        <td>@summary.Type</td>
                        <td>@summary.Cstar</td>
                        <td>@summary.Cmax</td>
                    </tr>
                }
                </table>
            </div>
            <div class="legend">
                <div class="legend-header">УМОВНІ ПОЗНАЧЕННЯ</div>
                <div class="block"><span>i,j/p</span>- робота на пристрої, де</div>
                <div class="block"><span>i</span> - ланцюг</div>
                <div class="block"><span>j</span> - порядок виконання роботи в ланцюзі</div>
                <div class="block"><span>p</span> - тривалість роботи i,j</div>
            </div>
            <div class="plot-name">@AlgorithmType.A1</div>
            <div class="plot-row">
                @RenderGraph(AlgorithmType.A1)
            </div>

            <div class="plot-name">@AlgorithmType.A2</div>
            <div class="plot-row">
                @RenderGraph(AlgorithmType.A2)
            </div>

            <div class="plot-name">@AlgorithmType.A3</div>
            <div class="plot-row">
                @RenderGraph(AlgorithmType.A3)
            </div>

            <div class="plot-name">@AlgorithmType.A4</div>
            <div class="plot-row">
                @RenderGraph(AlgorithmType.A4)
            </div>
        </div>
    }

@section scripts
{
    <script type="text/javascript">
        $(activateNavLink('nav-availableResults'));

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}

@helper RenderGraph(AlgorithmType type)
    {
        <div class="plot">
            @{
                int widthBlockPx = 3;
                int epsilon = 10;
                int currentDevice = Model.PlotData[type].Count;
                decimal lastWorkEnd = 0;
                decimal Cstar = Model.AlgorithSummaries.Select(a => a.Cstar).First();
            }

            <div style="position:relative; top: 20px; left: @((int)(Cstar * widthBlockPx * epsilon) + 23)px; border: 0;">
                <div class="plot-projection" style="height: @(currentDevice * 33 + 18)px;">&nbsp;</div>
                <div class="plot-projection-C" style="left:-2px; top: @(currentDevice * 33 + 40)px;">
                    <span>C<sup>*</sup> = @Cstar</span>
                </div>
            </div>

            @foreach (var kvp in Model.PlotData[type])
            {
                <div class="device-work">
                    <div class="device-id">
                        @kvp.Key
                    </div><div class="x-data">
                        @{
                            int rowGapIndex = 0;
                        }
                        @foreach (var row in kvp.Value)
                        {
                            for (int i = rowGapIndex; i < (int)(row.Start * epsilon); i++)
                            {
                                <div style="width: @(widthBlockPx)px; background-color: #EFEEE9; border:none"></div>
                            }

                            string width = ((int)(row.Duration * epsilon) * widthBlockPx).ToString() + "px";
                            Model.ColorByPalleteWork.TryGetValue((int)row.PalletWork, out string color);
                            color = color ?? "#FF00CC";
                            <div data-toggle="tooltip" title="@row.End" style="cursor:pointer; width: @width; background-color: @color">@row.PalletWork / @row.Duration</div>
                            {
                                rowGapIndex = (int)(row.End * epsilon);
                                lastWorkEnd = row.End;
                            }
                        }

                        <div style="position:relative; left: -1px; border: 0;">
                            <div class="plot-projection" style="height: @(currentDevice * 33 + 16)px;">&nbsp;</div>
                            <div class="plot-projection-C" style="left:-2px; top: @(currentDevice * 33 + 35)px;">
                                @if (kvp.Value.Length > 0)
                                {
                                    <text>C = @lastWorkEnd</text>
                                }
                            </div>
                            @{ currentDevice--; }
                        </div>
                    </div>
                    <div class="y-margin"></div>
                </div>
            }
            <div class="y-margin"></div><div class="y-margin"></div>
            <div class="x">
                @{ decimal Cmax = Model.AlgorithSummaries.Where(a => a.Type == type).Select(a => a.Cmax).FirstOrDefault(); }
                @for (int i = 0; i <= (int)Cmax; i++)
                {
                    <div style="position:relative; width:@(widthBlockPx * epsilon)px; left:-1px">
                        <div style="font-size:14px; border: none; position:absolute; top:-10px;">|</div>
                        <div style="font-size:14px; border: none; position:absolute; top:5px; left:-3px">@i</div>
                    </div>
                }
                <div class="x-arrow">&#x21FE; t, од.</div>
            </div>
        </div>
}