@model TabViewModel[]

@{
    ViewBag.Title = "Наявні дані";
    int index = 1;
    bool firstTab = true;
}

<div id="result-message"></div>
@if (Model == null || Model.Length == 0)
{
    <h2>Дані відсутні</h2>
}
else
{
    <div class="tab-nav">
        <ul class="nav nav-tabs">
            @foreach (var tab in Model)
            {
                <li id="nav-item-@tab.Id" class="nav-item">
                    <a id="tab-@tab.Id" href="#" class="tab nav-link @(index++ == 1 ? "tab-active nav-link-active" : string.Empty)">Дані Id:@(tab.Id)</a>
                </li>
            }
        </ul>
    </div>

    <div class="block" style="margin-top: 15px;">
        @foreach (var tab in Model)
        {
            <div id="div-tab-@tab.Id" class="@(firstTab ? string.Empty :"disable")">
                @{ firstTab = false; }
                <div class="tab-devices">
                    <h4>Пристрої</h4>

                    <div>Кількість:</div>
                    <div>@tab.NumberOfDevices</div>
                    <div class="block">Тип: @(tab.DeviceType == DeviceType.Identical ? "Ідентичний" : "Неідентичний")</div>

                    <div class="tab-devices-table">
                        <table>
                            <tr class="schedule-table-header">
                                <td width="100px" height="40px">Пристрій</td>
                                <td width="100px" height="40px">Продуктивність</td>
                            </tr>
                            @for (int i = 0; i < tab.DeviceProductivities.Length; i++)
                            {
                                <tr class="schedule-table-header-row">
                                    <td>@(i + 1)</td>
                                    <td>@tab.DeviceProductivities[i]</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="tab-devices">
                    <h4>Палета</h4>
                    <div class="block">
                        <div>Кількість рядів:</div>
                        <div>@tab.NumberOfPalleteRows</div>
                    </div>
                    <div class="block">
                        <div>Кількість об'єктів у ряді:</div>
                        <div>@tab.NumberOfWorkPerRow</div>
                    </div>

                    @{
                        int workIndex;
                    }

                    <div class="tab-devices-table">
                        <table>
                            <tr class="schedule-table-header">
                                <td width="100px" height="40px">Об'єкт</td>
                                <td width="150px" height="40px">Час на виконання</td>
                            </tr>
                            @for (int i = 0; i < tab.NumberOfPalleteRows; i++)
                            {
                                { workIndex = 1; };
                                for (int j = 0; j < tab.NumberOfWorkPerRow; j++)
                                {
                                    <tr class="schedule-table-header-row">
                                        <td>@(i + 1).@(workIndex++)</td>
                                        <td>@tab.DurationByWork[i, j]</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>

                </div>
                <div class="control-buttons">
                    <div class="block"><button type="button" class="btn-delete-tab btn btn-danger control-button" onclick="deleteTab('@(Url.HttpRouteUrl("DeleteTabRoute", routeValues: new { id = tab.Id }))', @tab.Id)">Видалити</button></div>
                    <div class="block"><button type="button" class="btn-delete-tab btn btn-success control-button-low" onclick="redirectToResult('@(Url.Action("AvailableResults", "Result", routeValues: new { tabId = tab.Id }))')">Результати</button></div>
                </div>
            </div>
        }
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $(activateNavLink('nav-availableTabs'));

        $(".tab").click(function () {
            var currentTabId = this.getAttribute("id");
            var previousActiveTab = $(".tab-active")[0].id;

            $("#" + previousActiveTab).removeClass("nav-link-active").removeClass("tab-active");
            $("#div-" + previousActiveTab).addClass("disable");

            $("#" + currentTabId).addClass("nav-link-active").addClass("tab-active");
            $("#div-" + currentTabId).removeClass("disable");
        });

        function deleteTab(url, tabId) {
            deleteVerb(url,
                function (content) {
                    $("#nav-item-" + tabId).addClass("disable");
                    $("#div-tab-" + tabId).addClass("disable");
                },
                function (content) {
                    $("#result-message").addClass("alert").addClass("alert-danger");
                    $("#result-message").html("Сталася помилка при видаленні даних: " + content.statusText);
                });
        }

        function redirectToResult(url) {
            window.location.href = url;
        }

    </script>
}