@model ScheduleViewModel

<div class="tab-nav">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            @{ Html.RenderAction("AvailableScheduleTabs"); }
        </li>
    </ul>
</div>

<div id="available-schedule">
    <div class="tab-devices">
        <h4>Пристрої</h4>
        <div class="form-group row">
            @Html.LabelFor(m => m.NumberOfDevices, "Кількість", new { @class = "col-sm-4 col-form-label" })
            @Html.DisplayFor(m => m.NumberOfDevices, new { @class = "form-control" })
        </div>
        <div style="display:block">Тип:</div>
        <div class="form-check form-check-inline">
            @Html.DisplayFor(m => m.DeviceType, "Identical", new { @class = "form-check-input" })
        </div>
    </div>

    <div class="tab-devices">
        <h4>Палета</h4>
        <div class="form-group row">
            @Html.LabelFor(m => m.NumberOfPalleteRows, "Кількість рядів:", new { @class = "col-sm-7 col-form-label" })
            <div class="col-sm-2">
                @Html.DisplayFor(m => m.NumberOfPalleteRows, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.NumberOfWorkPerRow, "Кількість робіт у ряді:", new { @class = "col-sm-7 col-form-label" })
            <div class="col-sm-2">
                @Html.DisplayFor(m => m.NumberOfWorkPerRow, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div style="display: block; padding-top:15px; padding-left:200px;">
        <button type="button" class="btn btn-outline-success">Видалити</button>
        <button type="submit" class="btn btn-success" style="margin-left:30px;">Розрахувати</button>
    </div>
</div>