@model Schedule.Models.ScheduleViewModel

@using (Ajax.BeginForm("SaveScheduleForm", "Schedule", new AjaxOptions { HttpMethod = "POST" }))
{
    @Html.AntiForgeryToken()
    <div class="tab-devices">
        <h4>Пристрої</h4>
        <div class="form-group row">
            @Html.LabelFor(m => m.NumberOfDevices, "Кількість", new { @class = "col-sm-4 col-form-label" })
            @Html.TextBoxFor(m => m.NumberOfDevices, new { @class = "form-control", type = "number", min = 0, value = "0"})
        </div>
        <div style="display:block">Тип:</div>
        <div class="form-check form-check-inline">
            @Html.RadioButtonFor(m => m.DeviceType, "Identical", new { id = "identical", @class = "form-check-input", @checked = true })
            @Html.LabelFor(m => m.DeviceType, "Ідентичний", new { @for = "identical", @class = "form-check-label", style = "margin-right:15px;" })

            @Html.RadioButtonFor(m => m.DeviceType, "Nonidentical", new { id = "non-identical", @class = "form-check-input" })
            @Html.LabelFor(m => m.DeviceType, "Неідентичний", new { @for = "non-identical", @class = "form-check-label" })
        </div>
    </div>

    <div class="tab-devices">
        <h4>Палета</h4>
        <div class="form-group row">
            @Html.LabelFor(m => m.NumberOfPalleteRows, "Кількість рядів:", new { @class = "col-sm-7 col-form-label" })
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.NumberOfPalleteRows, new { @class = "form-control", type = "number", min = 0, value = 0 })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.NumberOfWorkPerRow, "Кількість робіт у ряді:", new { @class = "col-sm-7 col-form-label" })
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.NumberOfWorkPerRow, new { @class = "form-control", type = "number", min = 0, value = 0 })
            </div>
        </div>
    </div>

    <div style="display: block; padding-top:15px; padding-left:200px;">
        <button type="button" class="btn btn-outline-success">Видалити</button>
        <button type="submit" class="btn btn-success" style="margin-left:30px;">Розрахувати</button>
    </div>
}