<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="logo">
        <div>Складання розкладу виконання робіт з відношенням передування паралельними пристроями за критерієм мінімізації загального часу виконання робіт</div>
    </div>

    <div class="container">
        <nav>
            <ul class="nav nav-pills flex-column">
                <li>
                    @Html.ActionLink("Головна сторінка", "Index", new { controller = "Home" }, new { @class = "nav-item nav-link", id = "nav-index" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Введення даних", "AddTab", new { controller = "Tab" }, new { @class = "nav-item nav-link", id = "nav-addTab" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Наявні дані", "AvailableTabs", new { controller = "Tab" }, new { @class = "nav-item nav-link", id = "nav-availableTabs" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Розрахунки", "AvailableResults", new { controller = "Result" }, new { @class = "nav-item nav-link", id = "nav-availableResults" })
                </li>
            </ul>
        </nav>

        <div id="tab-section">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/jquery-val")
    @RenderSection("scripts", required: false)
</body>
</html>
